"*":
  "base16-syntax":
    scheme: "OceanicNext"
  core:
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".sass-cache"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Fira Code"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "file-icons":
    coloured: false
  linter: {}
  "linter-eslint":
    useGlobalEslint: true
  "release-notes":
    viewedVersion: "0.76.0"
  tabs:
    usePreviewTabs: true
  welcome:
    showOnStartup: false
