"*":
  editor:
    showIndentGuide: true
    fontFamily: "PT Mono"
    invisibles: {}
    showInvisibles: true
    softWrap: true
    tabLength: 2
  core:
    themes: [
      "one-light-ui"
      "one-dark-syntax"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".sass-cache"
    ]
    projectHome: "/Users/peter/Sites/"
    disabledPackages: [
      "exception-reporting"
    ]
  "release-notes":
    viewedVersion: "0.76.0"
  welcome:
    showOnStartup: false
  tabs:
    usePreviewTabs: true
  emmet: {}
  "one-light-ui": {}
  "atom-material-ui":
    panels: {}
    ui: {}
    tabs: {}
    treeView:
      compactTreeView: true
